ul {
    list-style-type: none;
}
.todo ul li {
    border: 1px solid lightgray;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 20px;

}
.buttons {
    width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
.buttons button {
    border: none;
    height: 30px;
    color: white;
    cursor: pointer;
}
.buttons .add {
    background-color: green;
}
.buttons .update {
    background-color: rebeccapurple;
}
.buttons .delete {
    background-color: red;
}